body{
    display: flex;
    flex-flow: column nowrap;
    header{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: relative;
        width: 100%;
        >:nth-child(1), >:nth-child(2), >:nth-child(3){
            width: 100%;
            height: 95vh;
            background: rgb(251, 255, 197);
        }
        .capaA{
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: flex;
            flex-flow: row wrap;
            opacity: 40%;
            .capaB{
                height: 100%;
                width: 100%;
                position: relative;
                display: flex;
                flex-flow: row wrap;
                .capa1{
                    z-index: 1;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-flow: row wrap;
                    >:nth-child(1), >:nth-child(2){
                        width: 50%;
                        height: 100%;
                    }
                    >:nth-child(1){
                        >:nth-child(1){
                            background: url('../IMG/1612880787531.jpeg');
                            height: 100%;
                            width: 100%;
                            background-size: cover;
                            position: relative;
                           
                        }
                    }
                    >:nth-child(2){
                        background: rgb(198, 138, 27);
                        mix-blend-mode: darken;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >:nth-child(1){
                            display: flex;
                            flex-flow: column wrap;
                            background: white;
                            height: 100%;
                            width: 95%;
                            >:nth-child(1){
                                height: 30.5%;
                                background-color: rgb(239, 69, 69);
                                width: 100%;
                                display: flex;
                                flex-flow: column wrap;
                                justify-content: space-between;
                                >:nth-child(1){
                                    display: flex;
                                    flex-flow: row wrap;
                                    align-items: center;
                                    justify-content: space-between;
                                    .link {
                                        position: relative;
                                        display: inline-flex;
                                        .link-click {
                                            cursor: pointer;
                                        }
                                        .link-click::before {
                                            content: "";
                                            position: absolute;
                                            bottom: 0em;
                                            left: 0;
                                            width: 100%;
                                            height: 1px;
                                            transform-origin: right;
                                            transition: transform var(--animation-primary);
                                            transform: scaleX(0);
                                         }
                                        .link-click:hover::before {
                                            transform-origin: left;
                                            transform: scaleX(1);
                                        }
                                        .link-click::after, .link-click::before {
                                            background-color: rgb(0, 0, 0);
                                        }
                                    }
                                    .alt{
                                        .link-click::before{
                                            position: absolute;
                                            left: 0;
                                            width: 100%;
                                            height: 1px;
                                            background-color: black;
                                            transform-origin: left;
                                            transition: transform var(--animation-primary);
                                            transform: scaleX(1) rotate(0.001deg);
                                            transition-delay: 0.3s;
                                        } 
                                        .link-click:hover::before{
                                            transform-origin: right;
                                            transform: scaleX(0);
                                            transition-delay: 0s;
                                        }
                                        .link-click::after{
                                            content: "";
                                            position: absolute;
                                            bottom: 0em;
                                            left: 0;
                                            width: 100%;
                                            height: 1px;
                                            transform-origin: right;
                                            transition: transform var(--animation-primary);
                                            transform: scaleX(0);
                                            transition-delay: 0s;
                                        }
                                        .link-click:hover::after{
                                            transform-origin: left;
                                            transform: scaleX(1);
                                            transition-delay: 0.3s;
                                        }
                                    }
                                }
                                >:nth-child(2){
                                    display: flex;
                                    flex-flow: row wrap;
                                    gap: 2rem;
                                }
                            }
                            >:nth-child(2){
                                height: 31.5%;
                                background-color: rgb(27, 243, 49);
                                width: 100%;
                            }
                            >:nth-child(3){
                                height: 38%;
                                background-color: rgb(17, 208, 164);
                                width: 100%;
                                display: flex;
                                place-content: center;
                                align-items: center;
                                h2{
                                    all: unset;
                                    font-size: 11rem;
                                }
                            }
                        }
                    }
                }
                .capa2{
                    z-index: 2;
                    position: absolute;
                    height: 100%;
                    width: 50%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-flow: row wrap;
                    >:nth-child(1){
                        height: 100%;
                        width: 100%;
                        position: relative;
                        .magnetic-inner{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            mix-blend-mode: exclusion;
                            h4{
                                color: rgba(255, 255, 255, 255);
                            }
                            h4::selection{
                                background: none;
                            }
                        }
                    }
                    >:nth-child(2){
                        background: blue;
                        position: absolute;
                        right: 0;
                        height: 30.5%;
                        width: 1.5%;
                    }
                    >:nth-child(3){
                        background: rgb(178, 210, 165);
                        position: absolute;
                        right: 0;
                        bottom: 38%;
                        height: 31.5%;
                        width: 31.5%;
                        >:nth-child(1){
                            background: red;
                            margin-left: 20px;
                            margin-top: 20px;
                            position: absolute;
                        }
                    }
                    >:nth-child(4){
                        background: rgb(193, 193, 207);
                        position: absolute;
                        right: 0;
                        height: 38%;
                        bottom: 0;
                        width: 67.2%;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        place-content: center;
                        h1{
                            all: unset;
                            font-size: 11rem;
                        }
                    }
                }
            }
        }
    }
}


:root { 
    --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
 
.row-reel{
    width: 100%;
    height: 100vw;
    display: flex;
    flex-flow: row wrap;
    .col{
        position: relative;
        background: rgb(179, 179, 154);
        overflow: hidden;
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .magnetic-inner{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            mix-blend-mode: exclusion;
            h4{
                color: rgba(255, 255, 255, 255);
            }
        }
    }
    .bSide{
        height: 100vh;
        width: 50%;
    }
}

.firstAnimation{
    font-size: 2.5rem;
    color: red;
    transition: .5s;
}

.animationN1{
    font-size: 1.5rem;
    animation-delay: .3s;
}