.Aft{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-flow: column nowrap;
    header{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: relative;
        width: 100%;
        >:nth-child(1), >:nth-child(2), >:nth-child(3){
            width: 100%;
            height: 100vh;
            background: white;
            p{
                all: unset;
                background: red;
            }
        }
        >:nth-child(2), >:nth-child(3){
            height: 50vh;
            background: blue;   
        }
        .capaA{
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: flex;
            flex-flow: row wrap;
            // opacity: 40%;
            .capaB{
                height: 100%;
                width: 100%;
                position: relative;
                display: flex;
                flex-flow: row wrap;
                .capa1{
                    z-index: 1;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-flow: row wrap;
                    >:nth-child(1), >:nth-child(2){
                        width: 50%;
                        height: 100%;
                    }
                    >:nth-child(1){
                        >:nth-child(1){
                            background: url('../IMG/1612880787531.jpeg');
                            height: 100%;
                            width: 100%;
                            background-size: cover;
                            position: relative;
                        }
                    }
                    >:nth-child(2){
                        mix-blend-mode: darken;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >:nth-child(1){
                            background: white;
                            display: flex;
                            flex-flow: column wrap;
                            height: 100%;
                            width: 90%;
                            justify-content: space-between;
                            >:nth-child(1){
                                height: 34%;
                                width: 100%;
                                display: flex;
                                flex-flow: column wrap;
                                justify-content: space-around;
                                >:nth-child(1){
                                    display: flex;
                                    flex-flow: row wrap;
                                    align-items: center;
                                    justify-content: space-between;
                                    .link {
                                        position: relative;
                                        display: inline-flex;
                                        font-size: 1.2em;
                                        font-weight: 600;
                                        .link-click {
                                            cursor: pointer;
                                        }
                                        .link-click::before {
                                            content: "";
                                            position: absolute;
                                            bottom: 0em;
                                            left: 0;
                                            width: 100%;
                                            height: 1px;
                                            transform-origin: right;
                                            transition: transform var(--animation-primary);
                                            transform: scaleX(0);
                                         }
                                        .link-click:hover::before {
                                            transform-origin: left;
                                            transform: scaleX(1);
                                        }
                                        .link-click::after, .link-click::before {
                                            background-color: rgb(0, 0, 0);
                                        }
                                    }
                                    .alt{
                                        font-size: 1.2em;
                                        font-weight: 600;
                                        .link-click::before{
                                            position: absolute;
                                            left: 0;
                                            width: 100%;
                                            height: 1px;
                                            background-color: black;
                                            transform-origin: left;
                                            transition: transform var(--animation-primary);
                                            transform: scaleX(1) rotate(0.001deg);
                                            transition-delay: 0.3s;
                                        } 
                                        .link-click:hover::before{
                                            transform-origin: right;
                                            transform: scaleX(0);
                                            transition-delay: 0s;
                                        }
                                        .link-click::after{
                                            content: "";
                                            position: absolute;
                                            bottom: 0em;
                                            left: 0;
                                            width: 100%;
                                            height: 1px;
                                            transform-origin: right;
                                            transition: transform var(--animation-primary);
                                            transform: scaleX(0);
                                            transition-delay: 0s;
                                        }
                                        .link-click:hover::after{
                                            transform-origin: left;
                                            transform: scaleX(1);
                                            transition-delay: 0.3s;
                                        }
                                    }
                                }
                                >:nth-child(2){
                                    display: flex;
                                    flex-flow: row wrap;
                                    gap: 5rem;
                                    h3{
                                        font-size: 1.2em;
                                        font-weight: 400;
                                    }
                                }
                            }
                            >:nth-child(2){
                                height: 35%;
                                width: 100%;
                                display: flex;
                                flex-flow: row wrap;
                                align-items: center;
                                overflow: hidden;
                                background-color: red;
                                >:nth-child(1){
                                    all: unset;
                                    display: flex;
                                    flex-flow: column wrap;
                                    background: blue;
                                    width: 100%;
                                    >:nth-child(1){
                                        background: green;
                                    }
                                    // h4{
                                    //     all: unset;
                                    //     font-size: 2.8em;
                                    //     line-height: .9em;
                                    // }
                                    // >:nth-child(1), >:nth-child(2), >:nth-child(3), >:nth-child(4){
                                    //     position: relative;
                                    //     >:nth-child(1){
                                    //         width: 100%;
                                    //         height: 100%;
                                    //         transform: translateY(0px);
                                    //     }
                                    //     >:nth-child(2){
                                    //         background: rgb(255, 255, 255);
                                    //         width: 100%;
                                    //         height: 100%;
                                    //         position: absolute;
                                    //         left: 0;
                                    //         top: 0;
                                    //         z-index: 10;
                                    //     }
                                    // }
                                    // .firstsAnimation{
                                    //     >:nth-child(1){
                                    //         transform: translateY(-20px);
                                    //     }
                                    //     >:nth-child(2){
                                    //         transform: translateY(20px);
                                    //         background: rgb(177, 109, 109);
                                    //     }
                                    // }
                                    // >:nth-child(1){
                                    //     z-index: 0;
                                    // }
                                    // >:nth-child(2){
                                    //     z-index: 0;
                                    // }
                                    // >:nth-child(3){
                                    //     z-index: 0;
                                    // }
                                    // >:nth-child(4){
                                    //     z-index: 0;
                                    // }
                                }
                            }
                            >:nth-child(3){
                                height: 31%;
                                width: 100%;
                                display: flex;
                                place-content: center;
                                align-items: center;
                                overflow: hidden;
                                h2{
                                    all: unset;
                                    font-size: 13.5vw;
                                }
                            }
                        }
                    }
                }
                .capa2{
                    z-index: 2;
                    position: absolute;
                    height: 100%;
                    width: 50%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-flow: row wrap;
                    >:nth-child(1){
                        height: 100%;
                        width: 100%;
                        position: relative;
                        .magnetic-inner{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            mix-blend-mode: exclusion;
                            h4{
                                transform: translateX(-65px) translateY(-110px);
                                color: rgba(255, 255, 255, 255);
                            }
                            h4::selection{
                                background: none;
                            }
                        }
                    }
                    >:nth-child(2){
                        background: white;
                        position: absolute;
                        right: 0;
                        height: 34%;
                        width: 1.5%;
                    }
                    .takeChanges{
                        background: white;  
                        position: absolute;
                        right: 0;
                        bottom: 31%;
                        height: 35%;
                        width: 31.5%;
                        overflow: hidden;
                        >:nth-child(1){
                            margin-left: 20px;
                            margin-top: 20px;
                            position: absolute;
                            font-family: "Dancing Script", cursive;
                            font-optical-sizing: auto;
                            font-style: normal;
                        }
                    }
                    .takeChangesAnim{
                        width: 21.5%;
                    }
                    >:nth-child(4){
                        background: white;
                        position: absolute;
                        right: 0;
                        height: 31%;
                        bottom: 0;
                        width: 67.2%;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        place-content: center;
                        overflow: hidden;
                        h1{
                            all: unset;
                            font-size: 13.5vw;
                        }
                    }
                }
            }
        }
    }
}


:root { 
    --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

