body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
body header > :nth-child(1), body header > :nth-child(2), body header > :nth-child(3) {
  width: 100%;
  height: 95vh;
  background: rgb(251, 255, 197);
}
body header .capaA {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  opacity: 40%;
}
body header .capaA .capaB {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
body header .capaA .capaB .capa1 {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
body header .capaA .capaB .capa1 > :nth-child(1), body header .capaA .capaB .capa1 > :nth-child(2) {
  width: 50%;
  height: 100%;
}
body header .capaA .capaB .capa1 > :nth-child(1) > :nth-child(1) {
  background: url("../IMG/1612880787531.jpeg");
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}
body header .capaA .capaB .capa1 > :nth-child(2) {
  background: rgb(198, 138, 27);
  mix-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background: white;
  height: 100%;
  width: 95%;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  height: 30.5%;
  background-color: rgb(239, 69, 69);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .link .link-click {
  cursor: pointer;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .link .link-click::before {
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform var(--animation-primary);
  transition: -webkit-transform var(--animation-primary);
  transition: transform var(--animation-primary);
  transition: transform var(--animation-primary), -webkit-transform var(--animation-primary);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .link .link-click:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .link .link-click::after, body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .link .link-click::before {
  background-color: rgb(0, 0, 0);
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .alt .link-click::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform var(--animation-primary);
  transition: -webkit-transform var(--animation-primary);
  transition: transform var(--animation-primary);
  transition: transform var(--animation-primary), -webkit-transform var(--animation-primary);
  -webkit-transform: scaleX(1) rotate(0.001deg);
          transform: scaleX(1) rotate(0.001deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .alt .link-click:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .alt .link-click::after {
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform var(--animation-primary);
  transition: -webkit-transform var(--animation-primary);
  transition: transform var(--animation-primary);
  transition: transform var(--animation-primary), -webkit-transform var(--animation-primary);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) .alt .link-click:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2rem;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  height: 31.5%;
  background-color: rgb(27, 243, 49);
  width: 100%;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  height: 38%;
  background-color: rgb(17, 208, 164);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .capaA .capaB .capa1 > :nth-child(2) > :nth-child(1) > :nth-child(3) h2 {
  all: unset;
  font-size: 11rem;
}
body header .capaA .capaB .capa2 {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
body header .capaA .capaB .capa2 > :nth-child(1) {
  height: 100%;
  width: 100%;
  position: relative;
}
body header .capaA .capaB .capa2 > :nth-child(1) .magnetic-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: exclusion;
}
body header .capaA .capaB .capa2 > :nth-child(1) .magnetic-inner h4 {
  color: rgb(255, 255, 255);
}
body header .capaA .capaB .capa2 > :nth-child(1) .magnetic-inner h4::-moz-selection {
  background: none;
}
body header .capaA .capaB .capa2 > :nth-child(1) .magnetic-inner h4::selection {
  background: none;
}
body header .capaA .capaB .capa2 > :nth-child(2) {
  background: blue;
  position: absolute;
  right: 0;
  height: 30.5%;
  width: 1.5%;
}
body header .capaA .capaB .capa2 > :nth-child(3) {
  background: rgb(178, 210, 165);
  position: absolute;
  right: 0;
  bottom: 38%;
  height: 31.5%;
  width: 31.5%;
}
body header .capaA .capaB .capa2 > :nth-child(3) > :nth-child(1) {
  background: red;
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
}
body header .capaA .capaB .capa2 > :nth-child(4) {
  background: rgb(193, 193, 207);
  position: absolute;
  right: 0;
  height: 38%;
  bottom: 0;
  width: 67.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}
body header .capaA .capaB .capa2 > :nth-child(4) h1 {
  all: unset;
  font-size: 11rem;
}

:root {
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.row-reel {
  width: 100%;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.row-reel .col {
  position: relative;
  background: rgb(179, 179, 154);
  overflow: hidden;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row-reel .col .magnetic-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: exclusion;
}
.row-reel .col .magnetic-inner h4 {
  color: rgb(255, 255, 255);
}
.row-reel .bSide {
  height: 100vh;
  width: 50%;
}

.firstAnimation {
  font-size: 2.5rem;
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animationN1 {
  font-size: 1.5rem;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}